:root {
  --primary-color: #d70f64;
  --gray: rgba(128, 128, 128, 0.208);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

.max-w-xl {
  max-width: 1300px;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.4rem;
}

nav.active {
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.12);
}

nav > .logo {
  padding: 1rem 0;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--primary-color);
  cursor: pointer;
  display: flex;
  align-items: center;
}

nav > .logo > svg {
  display: none;
  margin-right: 0.3rem;
}

nav svg {
  cursor: pointer;
}

nav .login-btn {
  display: none;
  justify-content: center;
  align-items: center;
  height: 100%;
  border: none;
  background-color: transparent;
  border-right: 1px solid var(--gray);
  border-left: 1px solid var(--gray);
  padding: 1.2rem;
  margin-right: 1rem;
  cursor: pointer;
}

.login-btn span {
  margin-left: 0.5rem;
  font-weight: 600;
}

/* Hero Section */
section.hero {
  padding: 0 1rem;
  position: relative;
  height: 500px;
  border: 2px solid transparent;
}

.hero .bg-wrapper {
  z-index: -1;
  position: absolute;
  margin-left: 67%;
  display: block;
  max-height: 335px;
  height: 100%;
  width: 33%;
  float: right;
  background: #fff left top no-repeat;
  background: url("./images/hero-bg-xl.png");
  background-size: cover;
}

.hero .actions {
  margin-top: 4rem;
}

.actions .input-container {
  position: relative;
}

.actions input {
  width: 100%;
  padding: 1.5rem 1rem;
  border-radius: 10px;
  outline: none;
  font-size: 0.9rem;
  color: #333;
  border: 1px solid #dcdcdc;
  box-shadow: 0 0.3rem 2rem rgb(0 0 0 / 10%);
}

.input-container svg {
  position: absolute;
  right: 20px;
  top: 20px;
}

.actions input::placeholder {
  color: darkgrey;
}

.actions > button {
  margin-top: 1rem;
  background-color: var(--primary-color);
  border: none;
  padding: 0 5rem;
  height: 64px;
  width: 100%;
  color: white;
  border-radius: 8px;
  font-size: 0.9rem;
  font-weight: 300;
  cursor: pointer;
}

.hero h3 {
  font-size: 2rem;
  font-weight: 300;
  width: 70%;
  margin-top: 9rem;
  min-width: 220px;
}

/* Partners Section */
.partners {
  margin: 4rem 0;
  position: relative;
}

.partners .backdrop-text {
  padding: 0 2rem;
  display: inline;
  color: rgba(188, 186, 186, 0.12);
  font-weight: 900;
  font-size: 4.5rem;
  position: absolute;
  top: -40px;
  left: -10px;
}

.partners .caption {
  padding: 0 2rem;
  font-size: 1.2rem;
  margin-bottom: 0.3rem;
}

.partners .background-image {
  z-index: -1;
  position: relative;
  display: block;
  min-height: 280px;
  height: 100%;
  background: url("./images/partner-bg.png");
  background-size: cover;
}

.partners .content {
  background-color: white;
  box-shadow: 0 2px 28px 0 rgb(0 0 0 / 12%);
  padding: 1rem 2rem;
  margin: 0 1rem;
  margin-top: -4rem;
}

.content p {
  color: rgb(176, 174, 174);
  font-size: 0.9rem;
}

.content .header-text {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  color: rgb(18, 17, 17);
}

.content button {
  margin-top: 1rem;
  background-color: var(--primary-color);
  border: none;
  padding: 0 5rem;
  height: 50px;
  width: 100%;
  color: white;
  border-radius: 8px;
  font-size: 0.8rem;
  font-weight: 300;
  cursor: pointer;
}

/* Media Queries */

/* Medium */
@media screen and (min-width: 768px) {
  nav > .logo > svg {
    display: inline;
  }

  section.hero {
    padding: 0 2rem;
  }

  .hero .bg-wrapper {
    max-height: 800px;
  }

  .actions {
    background-color: white;
    padding: 1rem;
    margin-right: 0rem;
    box-shadow: 0 0.3rem 2rem rgb(0 0 0 / 10%);
    display: flex;
    align-items: center;
    max-width: 960px;
  }

  .actions .input-container {
    width: 80%;
  }

  .actions input {
    box-shadow: none;
  }

  .actions button {
    margin: 0;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
  }
}

/* Large */
@media screen and (min-width: 960px) {
  nav > .profile-icon-medium {
    display: none;
  }

  nav .login-btn {
    display: inline-flex;
  }

  .hero .bg-wrapper {
    max-height: 400px;
  }
}

/* Extra Large */
@media screen and (min-width: 1264px) {
  .hero .bg-wrapper {
    max-height: 500px;
  }

  .hero h3 {
    font-size: 2.8rem;
  }
}

/* 2XL */
@media screen and (min-width: 1440px) {
  .hero .bg-wrapper {
    max-height: 550px;
  }
}
